* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ======== Common style here ========= */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

.btn {
    background-color: #FF900E;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    margin-top: 15px;
}

/* ======== Header style here ========= */
header {
    background-color: #FFF4E7;
    /* height: 100vh; */
    padding: 40px 180px;
}

.header-logo a {
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    line-height: 60px;
}

nav li {
    list-style: none;
}

nav a {
    color: #424242;
    font-size: 18px;
    padding-left: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 50px 50px;
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: 700;
}

/* ============== features-team ============== */

main {
    padding: 40px 180px;
}

section.features-team {
    display: flex;
}

.team-gallery {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.team-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 40px;
}

h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}

span.featureslist {
    color: #ff900e;
}

span.quick-list {
    color: #727272;
}

/* ============== Love enjoy Features ============== */
section.love-enjoy-features {
    display: flex;
    padding: 50px 0;
}

.love-enjoy-features-content,
.love-enjoy-features-img {
    width: 50%;
}

.love-enjoy-section {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 15px 0;
    padding: 20px;
}

.love-enjoy-features-content h2 {
    border-left: 3px solid #ff900e;
    padding-left: 14px;
    margin-bottom: 15px;
}

.love-enjoy-features-img {
    padding-left: 75px;
    padding-bottom: 70px;
}

img.love-image {
    height: -webkit-fill-available;
}

span.year-experience {
    background-color: #ff900e !important;
    display: inline-block;
    text-align: center;
    padding: 13px;
    color: #fff;
    position: relative;
    top: -47px;
    left: -33px;
}

/*============= Some facts Style here ================ */

.some-facts-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 35px;
}

p.facts-padding-right {
    padding-right: 410px;
    margin: 8px 0;
}

.some-facts-box img {
    width: 40px;
    height: 40px;
}

.some-facts-box {
    border: 1px solid #000;
    padding: 20px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.some-facts-box:hover {
    box-shadow: 0px 0px 6px 2px #ff900e7d;
    border-radius: 8px;
}

.some-facts-box:hover>p {
    color: #ff900e;
}

/* =========== Our Sponspors style here ============ */
.our-sponspors-container {
    text-align: center;
    margin-top: 70px;
}

.sponspors-details {
    padding: 0px 200px;
}

.Sponspors-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}

.Sponspors-logo img {
    width: 180px;
}

/*================ Footer ================*/
footer {
    padding: 25px 0;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 50px;
}

/* // Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) {
    header {
        padding: 40px 50px;
        margin-bottom: 40px;
    }

    .header-details {
        margin-top: 20px;
    }

    .main-header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-logo a {
        font-size: 30px;
    }

    nav ul {
        display: grid;
        line-height: 38px;
        margin-left: -20px;
    }

    .header-content {
        padding: 0px;
    }

    .header-content h1 {
        font-size: 20px;
    }

    button.btn {
        margin-bottom: 35px;
    }

    main {
        padding: 0;
        margin: 20px;
    }

    section.features-team {
        display: flex;
        flex-direction: column;
    }

    .team-gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .team-content {
        width: 100%;
        padding: 0px;
        margin-top: 10px;
    }

    /* section.love-enjoy-features */

    .love-enjoy-features {
        display: flex;
        padding: 0px;
        flex-direction: column;

        margin-top: 30px;
        padding: 0px;
    }

    section.love-enjoy-features {
        display: flex;
        padding: 0px;
    }

    .love-enjoy-features-content,
    .love-enjoy-features-img {
        width: 100%;
    }

    .love-enjoy-features-img {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    span.year-experience {
        top: -103px;
        left: 0px;
    }

    /* some facts  */
    section.some-facts {
        /* margin: 20px; */
    }

    p.facts-padding-right {
        padding-right: 0px;
        margin: 8px 0;
    }

    .some-facts-section {
        display: flex;
        flex-direction: column;
    }

    .some-facts-box {
        margin-bottom: 12px;
    }

    .our-sponspors-container {
        margin-top: 40px;
    }

    .sponspors-details {
        padding: 0px;
    }

    .Sponspors-logo {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .Sponspors-logo img {
        width: 100%;
        margin-bottom: 21px;
    }

}