* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ======== Common style here ========= */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

.btn {
    background-color: #FF900E;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    margin-top: 15px;
}

/* ======== Header style here ========= */
header {
    background-color: #FFF4E7;
    /* height: 100vh; */
    padding: 40px 180px;
}

.header-logo a {
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    line-height: 60px;
}

nav li {
    list-style: none;
}

nav a {
    color: #424242;
    font-size: 18px;
    padding-left: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 50px 50px;
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: 700;
}