* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ======== Common style here ========= */
a {
    text-decoration: none;
}

img {
    width: 100%;
}

.btn {
    background-color: #FF900E;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    margin-top: 15px;
}

/* ======== Header style here ========= */
header {
    background-color: #FFF4E7;
    /* height: 100vh; */
    padding: 40px 180px;
}

.header-logo a {
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    line-height: 60px;
}

nav li {
    list-style: none;
}

nav a {
    color: #424242;
    font-size: 18px;
    padding-left: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 50px 50px;
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: 700;
}

/* ============== Features quick list ============== */

main {
    padding: 40px 180px;
}

section.features-quicklist {
    display: flex;
}

.team-gallery {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.team-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 40px;
}

h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}

span.featureslist {
    color: #ff900e;
}

span.quick-list {
    color: #727272;
}